@font-face {
  font-family: 'Inter';
  src: url('../../../assets/fonts/inter/Inter-Regular.ttf');
}

@font-face {
  font-family: 'InterThin';
  src: url('../../../assets/fonts/inter/Inter-Thin.ttf');
}

p, h1 {
  font-family: 'Inter';
  color: white;
  margin: 0;
}

p {
  font-size: 16px;
  font-family: 'InterThin';
}

div {
  position: fixed;
  width: 40%;
  height: 10%;
  padding: 0px;
  margin: auto;
  inset: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  scale: 2;
}