body {
  background-color: #110b17;
}

.desktop {
  background-image: url('assets/wallpapers/palm tree near dome.jpg');
  background-size: cover;
  background-attachment: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/inter/Inter-Regular.ttf');
}

@font-face {
  font-family: 'InterThin';
  src: url('assets/fonts/inter/Inter-Thin.ttf');
}

p, h1, h2, h3, h4, h5, h6, .taskbartask {
  font-family: 'Inter';
  color: white;
}
p {
  font-size: 16px;
}

h1 {
  font-size: 35px;
}

.desktop-icons {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.deskIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 90px;
  border-radius: 8px;
  padding: 5px;
  padding-top: 20px;
  transition-duration: 0.2s;
}

.deskIcon:Hover {
  background-color: #FFFFFF09;
  font-size: 17px;
  scale: 1.03;
}

.deskIcon:Active {
  scale: 0.97;
}

.taskbar {
  background-color: #1e112c;
  outline: 2px solid #2d1b40;
  border-radius: 4px;
  position: fixed;
  bottom: 0px;
  width: 80%;
  margin: 15px;
  height: 45px;
  padding: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 28px 2px rgba(0, 0, 0, .41);
  display: flex;
  z-index: 50;
}

.window {
  background-color: #ffffff;
  position: fixed;
  width: 50%;
  height: 40%;
  padding: 0px;
  padding-bottom: 92px;
  border: 2px solid #2d1b40;
  border-radius: 5px;
  margin: auto;
  inset: 0px;
  text-align: center;
  box-shadow: 0px 0px 30px #000000;
  transition-duration: 0.2s;
} 

.container {
  position: fixed;
  background-color: #150d1f;
  width: 50%;
  height: 40%;
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
} 

button {
  background-color: #1e112c;
  border: 2px solid #2d1b40;
  border-radius: 5px;
  color: white;
  font-family: inter;
  padding: 10px 26px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0px 0px 7px #000000;
  transition-duration: 0.2s;
  cursor: pointer;
}

.list {
  background-color: #261838;
  border-radius: 15px;
  margin: auto;
  width: 80%;
  height: 50%;
  padding: 5px;
}

.listOption {
  background-color: #311f47;
  border-radius: 15px;
  padding: 5px;
  margin: auto;
  width: 95%;
  height: 50%;
  text-align: left;
}

button:hover {
  background-color: #231433;
  font-size: 17px;
}

button:active {
  background-color: #170d21;
}

.toolbarStart, .trayButton, .quickPanel-Button, .quickTime-Button, .power-button, .wifi-Button {
  border: 0px;
  border-radius: 0px;
  width: 45px;
  height: 45px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 50;
}

.toolbarStart {
  box-shadow: 2px 0px 0px #2d1b40;
}


.trayButton, .quickPanel-Button, .quickTime-Button, .wifi-Button {
  box-shadow: -2px 0px 0px #2d1b40;
}

.quickTime-Button {
  width: 55px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.toolbarTask {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.mini {
  font-size: 10px;
}

.implementationToast {
  background-color: #1e112c;
  outline: 2px solid #2d1b40;
  position: fixed;
  border-radius: 4px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  height: 45px;
  padding: 0px;
  left: 0;
  right: 0;
  bottom: 80px;
  padding-left: 10px;
  align-items: center;
  justify-content: left;
  display: none;
  box-shadow: 0 0 28px 2px rgba(0, 0, 0, .41);
  transition-duration: 0.2s;
}

.pfp {
  width: 45px; /* i wanna use 69px :( */
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.start-menu {
    background-color: #1e112c;
    outline: 2px solid #2d1b40;
    position: fixed;
    border-radius: 4px;
    width: 30%;
    height: 60%;
    margin-left: 10.1%;
    padding: 0px;
    bottom: -100px;
    opacity: 0;
    padding-left: 0px;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .71);
    overflow-x: hidden;
    overflow-y: auto
}

/* Customize scrollbar for WebKit browsers */
.start-menu::-webkit-scrollbar {
    width: 5px; /* Specify the width of the scrollbar */
}

/* Customize scrollbar thumb for WebKit browsers */
.start-menu::-webkit-scrollbar-thumb {
    background-color: #36204d; /* Specify the color of the scrollbar thumb */
    border-radius: 4px; /* Specify the border radius of the scrollbar thumb */
}

/* Hide the scrollbar track and button */
.start-menu::-webkit-scrollbar-track {
    background-color: transparent; /* Set background color of track to transparent */
    border: none; /* Remove border */
}

.start-menu::-webkit-scrollbar-button {
    display: none; /* Hide the scrollbar button */
}


@keyframes open {
  from {
    bottom: -100px;
    opacity: 0;
    pointer-events: none;
  }
  to {
    bottom: 80px;
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes close {
  from {
    bottom: 80px;
    opacity: 1;
    pointer-events: all;
  }
  to {
    bottom: -100px;
    opacity: 0;
    pointer-events: none;
  }
}

.open {
  animation: open 0.2s ease-out forwards;
}

.close {
  animation: close 0.2s ease-in forwards;
}

.startUser {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-top: 10px;
  width: 10%;
}

.startShadow {
  padding-left: 10px;
  padding-bottom: 10px;
  margin: 0;
  position: fixed;
  width: inherit;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, .50);
}

.start-menu-username {
  margin-left: 15px;
  font-size: 16px;
}

.power-button {
  position: absolute;
  right: 10px;
  border-radius: 10px;
  display: flex;
  width: 40px;
  height: 40px;
  padding-top: 6px;
  justify-content: center;
  box-shadow: 0 0 0 0
}

.pinapptitle {
  opacity: 0.1;
  margin-left: 20px;
  display: flex;
  align-items: center;
  margin-top: 90px;
}

hr.menuhr {
  border-color: #2d1b40;
  border-style: solid;
}

.listOption {
  background-color: #311f47;
  border-radius: 15px;
  padding: 5px;
  padding-left: 20px;
  margin-top: 10px;
  width: 90.7%;
  height: 48px;
  display: flex;
  box-shadow: 0px 0px 20px #00000030;
  transition-duration: 0.2s;
}

.listOptionText {
  text-align: left;
  margin-top: -2px;
  margin-left: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}

.listOption:hover {
  scale: 1.02;
  background-color: #35224d;
}

.listOption:active {
  scale: 0.99;
  background-color: #2e1d42;
}

.quicktime {
    background-color: #1e112c;
    outline: 2px solid #2d1b40;
    position: fixed;
    border-radius: 4px;
    width: 15%;
    height: 87px;
    margin-left: 65%;
    padding: 0px;
    padding-top: 10px;
    bottom: -100px;
    opacity: 0;
    padding-left: 0px;
    text-align: center;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .71);
    overflow: hidden;
}

.taskDateText {
  margin-top: -9%;
}

.welcome {
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px;
  margin: auto;
  inset: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 420; /* very funny numbr */
}

.welcometext {
  font-size: 45px;
  font-family: 'InterThin'
}

@keyframes fadein {
  from {
    opacity: 0;
    pointer-events: none;

  }
  to {
    opacity: 1;
    pointer-events: all;

  }
}

.fadein {
  animation: fadein 0.5s ease-in-out forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
    pointer-events: all;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}

.fadeout {
  animation: fadeout 0.5s ease-in-out forwards;
}

.startmenulist {
  padding: 2px;
  margin: 0px;
}

@keyframes opentask {
  from {
    opacity: 0;
    margin-left: -5px;
  }
  to {
    opacity: 1;
    margin-left: 0px;
  }
}

.opentask {
  animation: opentask 0.2s ease-out forwards;
}

@keyframes closetask {
  from {
    opacity: 1;
    margin-left: 0px;
  }
  to {
    opacity: 0;
    margin-left: -5px;
  }
}

.closetask {
  animation: closetask 0.2s ease-out forwards;
}

.taskbartask {
  margin: 0;
  padding: 0;
  box-shadow: 0px 0px 0px #2d1b40;
  border: 0px solid #2d1b40;
  border-right: 2px solid #2d1b40;
  border-radius: 0px;
  min-width: 45px;
  max-width: 150px;
  height: 45px;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  margin-left: -5px;
}

.taskbartask:hover {
  background-color: #231433;
}

.taskbartask:active {
  background-color: #170d21;
}

.sysver {
  position: fixed;
  top: 5px;
  right: 15px;
  opacity: 0.5;
  text-align: right;
  text-shadow: 0px 0px 25px #000000cc;
}

.contextmenu {
  width: 210px;
  background-color: #1e112c;
  border: 2px solid #2d1b40;
  border-radius: 5px;
  padding: 5px;
  gap: 5px;
  position: fixed;
}

.contextmenubtn {
  border: 0px solid;
  color: white;
  font-family: inter;
  padding: 7px 10px;
  text-align: left;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.2s;
  width: 100%;
  box-shadow: 0px 0px 0px #000000;
}