/* fade in - fade out */
@keyframes windowOpen {
  from {
    opacity: 0;
    scale: 0.95;
    rotate: x -10deg;
    perspective: 1000px;
  }
  to {                                                                                                                                                                                                                                                                                                                         
    opacity: 1;
    scale: 1;
    rotate: x 0deg;
    perspective: 1000px;
  }
}

@keyframes windowClose {
  from {
    opacity: 1;
    scale: 1;
    rotate: x 0deg;
    perspective: 1000px;
  }
  to {
    opacity: 0;
    scale: 0.95;
    rotate: x -10deg;
    perspective: 1000px;
  }
}

.windowClose {
  animation: windowClose 0.2s ease forwards !important;
  pointer-events: none !important;
}

.winbox {
    -webkit-backdrop-filter: var(--azu-window-blur);
    backdrop-filter: var(--azu-window-blur);
    background-color: var(--azu-window-background);
    border-radius: var(--azu-window-border-radius);
    border: var(--azu-window-border);
    box-shadow: var(--azu-window-shadow);
    animation: windowOpen 0.2s ease-out forwards;
}

.winbox.min {
  animation: windowClose 0.2s ease forwards !important;
  opacity: .3 !important;
/*  pointer-events: none !important;*/
}

.wb-body {
    /* set the width of window border via margin: */
    background: var(--azu-window-inner-background);
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter/Inter-Regular.ttf');
}

.wb-title {
    font-size: 13px;
    font-weight: 600;
    font-family: 'Inter';
}


.winbox .wb-full {
  display: none
}
