/*
	AzuOS Default Theme (Light)
	Written By: MTSyntho @ AzuSystem 2024
	Your eyes are cooked :'3
*/

:root {
    --azu-color-background: hsla(0, 0% 88.64%);
    --azu-color-main: hsla(0, 0%, 100%);
    --azu-color-light: hsla(0, 0%, 65%);
    --azu-color-shadow: hsla(0, 0%, 0%);
    --azu-taskbar-width: 80%;
    --azu-button-color-main: hsla(0, 0%, 65%);
    --azu-text-color: hsla(0, 0%, 0%);
}